header {
    background-color: $colorfondo;
}

.itemFormulario {
    color: white;
}

a {
    color: white;
    font-size: 1rem;
}

a:hover {
    color: $colorterciario;
    font-size: 1.5rem;
    transition: 1s, 1s;
}

.parrafoContacto {
    color: $colortextos;
    margin: 10px;
    padding: 10px;
}

h4 {
    color: $colortitulos;
    text-align: center;
}

.imagenNosotros {
    width: 200px;
    height: 200px;
}

.btn-primary {
    background-color: $colortextos;
    color: black;
    justify-items: end;
    text-align: center;
}